@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg: #121212;
  --bg-dark: #0e0e0e;
  --gold: #f7931a;
  --text-primary: #e0e0e0;
  --text-secondary: #a0a0a0;
  --font-display: 'PT Sans', 'ui-sans-serif', 'system-ui', 'sans-serif';
}

body {
  background-color: theme('colors.background.DEFAULT');
  color: theme('colors.text.primary');
}
